/*
* @Author: duowei
* @Date:   2019-02-21 17:17:44
* @Last Modified by:   duowei
* @Last Modified time: 2019-02-22 14:56:26
*/
.page{ padding-bottom: 55px; }
.index_title{ padding:30px 20px 20px; }
.index_titxt1{ font-size:26px; line-height:20px; height:24px; font-weight:200; }
.font-bold {font-weight:bold;}
